#viewDiv {
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
}

body
{
  margin: 0;
  padding: 0;
  
  /* make it look decent enough */
  background: #232323;
  color: #082850;
  font-family: "Avenir Next", "Avenir", sans-serif;
  
  overflow-x: hidden; /* needed because hiding the menu on the right side is not perfect,  */
}

a
{
  text-decoration: none;
  color: #232323;
  
  transition: color 0.3s ease;
}

a:hover
{
  color: #7CC6FE;
}

#menuToggle
{
  display: block;
  position: absolute;
  top: 50px;
  right: 50px;
  
  z-index: 1;
  
  -webkit-user-select: none;
  user-select: none;
}

#menuToggle input
{
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;
  
  cursor: pointer;
  
  opacity: 0; /* hide this */
  z-index: 2; /* and place it over the hamburger */
  
  -webkit-touch-callout: none;
}

/*
 * Just a quick hamburger
 */
#menuToggle span
{
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  
  background: #082850;
  border-radius: 3px;
  
  z-index: 1;
  
  transform-origin: 4px 0px;
  
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              opacity 0.55s ease;
}

#menuToggle span:first-child
{
  transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2)
{
  transform-origin: 0% 100%;
}

/* 
 * Transform all the slices of hamburger
 * into a crossmark.
 */
#menuToggle input:checked ~ span
{
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  background: #232323;
}

/*
 * But let's hide the middle one.
 */
#menuToggle input:checked ~ span:nth-last-child(3)
{
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

/*
 * Ohyeah and the last one should go the other direction
 */
#menuToggle input:checked ~ span:nth-last-child(2)
{
  opacity: 1;
  transform: rotate(-45deg) translate(0, -1px);
}

/*
 * Make this absolute positioned
 * at the top left of the screen
 */
#menu
{
  position: absolute;
  width: 300px;
  margin: -100px 0 0 0;
  padding: 50px;
  padding-top: 125px;
  right: -100px;
  
  background: #ededed;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  /* to stop flickering of text in safari */
  
  transform-origin: 0% 0%;
  transform: translate(100%, 0);
  
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
}

#menu li
{
  padding: 10px 0;
  font-size: 22px;
}

/*
 * And let's fade it in from the left
 */
#menuToggle input:checked ~ ul
{
  transform: none;
  opacity: 1;
}

@media screen and (max-width: 768px) {
  #menu {
    transform: none;
    opacity: 0;

    transition: opacity 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
  }
}

#appbar {
  margin: 20px;
  position: absolute;
  top: 10px;
  left: 50px;
  font-size: 32px;
  display: block;
  z-index: 10;
}

#searchIcon {
  position: absolute;
  bottom: 10px;
  right: 50px;
  z-index: 10px;
  margin: 20px;
  display: block;
}

#bottomBar {
  background: rgba(255, 255, 255, 0.75);
  bottom: 0;
  height: 130px;
  left: 0;
  position: absolute;
  width: 100%;
}

#buttonBar {
  text-align: center;
  width: 100%;
}

#endButton {
  background-color: rgb(192, 0, 0);
  border: none;
  color: white;
  margin-right: 10px;
  margin-top: 10px;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  transition-duration: 0.3s;
  width: 160px;
}

#endButton:hover {
  background-color: rgb(142, 0, 0);
  color: white;
}

#bikeButton {
  background-color:#43BA41;
  border: none;
  color: white;
  font-size: 20px;
  font-weight: bold;
  margin-left: 10px;
  margin-top: 10px;
  text-align: center;
  transition-duration: 0.3s;
  width: 160px;
}

#bikeButton:hover {
  background-color: rgb(104, 182, 132);
  color: white;
}

#etaText {
  text-align: center;
  width: 100%;
}

#etaCol {
  text-align: right;
}

#etaMinutes {
  color: #43BA41;
  display: inline-block;
  font-size: 20px;
  font-weight: bold;
}

#etaMiles {
  color: rgb(101, 100, 100);
  display: inline-block;
  font-size: 20px;
  font-weight: bold;
}

#etaTime {
  color: rgb(101, 100, 100);
  font-size: 20px;
  font-weight: bold;
  text-align: left;
}